
.main {
    position: absolute;
    left: 180px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #faffe3;
    transition: all .3s;
}

.main-collapse {
    left: 80px;
    transition: all .3s;
}

.app {
    position: relative;
    height: 100%;
    transition: all 0.3s;
}

.content {
    position: absolute;
    height: 100%;
}

.app-enter {
    opacity: 0.01;
    transition: all 1000ms ease;
    transform: translate3d(100%, 0, 0);
}

.app-enter.app-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.app-leave {
    opacity: 1;
    transition: all 500ms ease;
    transform: translate3d(100%, 0, 0);
}

.app-leave.app-leave-active {
    opacity: 0.01;
    transform: translate3d(0, 0, 0);
}